In [1]:
import pandas as pd

p_latitude = 0.23
d_latitude = 0.33

p_longitude = 22
d_longitude = 43



dict_map = {'lat': [p_latitude, d_latitude], 'lon' : [p_longitude, d_longitude]}
df = pd.DataFrame(dict_map)

In [7]:
df[:1]

    lat  lon
0  0.23   22

In [8]:
df[1:2]

    lat  lon
1  0.33   43